{% extends 'base.html' %}

{% block content %}
<h2>포스트 {{ post.title }} 수정</h2>
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label form="id-title">제목</label>
        <input name="title" type="text" class ="form-control" value = "{{ post.title }}">
    </div>

    <div class="form-group">
        <label form="id-text">내용</label>
        <textarea name="text" id="" cols="30" rows="10" class="form-control">{{ post.text }}</textarea>
    </div>
        <button type="submit" class="btn btn-primary btn-block"> submit </button>
</form>
{% endblock %}